
body {
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}
.sidebar header{
    font-size: 22px;
    background-color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 70px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn,label #cencel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}
label #cencel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cencel{
    left: 195px;
}
#check:checked ~ section{
    margin-left: 250px;
}
section{
    background-color: #807777;
    background-position: center;
    transition: all 0.5s;
    -webkit-trantition: all 0.5s;
}


h1 {
    margin-top: 6rem;
    margin-left:80px;
    text-align: center;
    font-family: 'Times New Roman';
    font-weight: 100;
    font-size: 4rem;
    text-transform:uppercase;
    color: black;
    letter-spacing:6px;
    text-shadow:5px 5px 5px rgba(0,0,0,.3);
  }
  
.text{
    margin: 100px;
    list-style-type: disc;
}
  .tengah {
    color: black;
    text-align: justify;
    margin: 50;
    padding: 50;
    text-indent: 110;
  }

.text ul{
    text-indent: 100px;
}
  










